*
{
    box-sizing: border-box;
    margin: 0px;
}
#mainframes
{
    display: flex;
    width: 100%;
    height: 100vh;
}

#left
{
    width: 30%;
    height: 100%;
    border: gray outset 5px;
    text-align: center;
}

#right
{
    display: flex;
    width: 70%;
    height: 100%;
    border: gray outset 5px;
    justify-content: center;
    align-items: center;
}

#right td
{
    border: black 2px solid;
}

.data
{
    padding: 10px;
}

input
{
    width: 40%;
    background-color: rgb(162, 236, 162);
}

@media (max-width: 480px)
{
    #left
    {
        width: 100%;
        height: 50%;
        order: 1;
    }

    #right
    {
        width: 100%;
        height: 50%;
        order: 2;
    }

    #mainframes
    {
        flex-direction: column;
        height: 100vh;
        width: 100vw;
    }
}