td 
{
    border: black 2px solid;
    height: 40px;
    width: 40px;

}
 tr:first-child td
 {
    background-color: rgb(68, 29, 2) !important;
    height: 20px;
 }

 tr:last-child td
 {
    background-color: rgb(68, 29, 2) !important;
    height: 20px;
 }

 td:first-child
 {
    background-color: rgb(68, 29, 2) !important;
    width: 20px;
 }

 td:last-child
 {
    background-color: rgb(68, 29, 2) !important;
    width: 20px;
 }

tr:nth-child(even) td:nth-child(odd)
{
    background-color: black;
}

tr:nth-child(odd) td:nth-child(even)
{
    background-color: black;
}

.chess_board 
{
   display:flex;
}

.row div
{
   height: 40px;
   width: 40px;
   border:black 2px solid;
}

.row div:first-child
{
   height: 20px;
   background-color: rgb(68, 29, 2) !important;
}

.row div:last-child
{
   height: 20px;
   background-color: rgb(68, 29, 2) !important;
}

.row:first-child div
{
   width: 20px;
   background-color: rgb(68, 29, 2) !important;
}

.row:last-child div
{
   width: 20px;
   background-color: rgb(68, 29, 2) !important;
}

.row:nth-child(even) div:nth-child(odd) 
{
   background-color: black;
}

.row:nth-child(odd) div:nth-child(even) 
{
   background-color: black;
}
